<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Group Chat</title>
    <script src=" http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="stylesheet/style.css">

    <script>
        $(document).ready(function () {
            var socket = io();
            var new_user = prompt("What is your name?");

            socket.emit("new_user_added", {
                user: new_user
                // creating a new user from the prompt message
            });

            socket.on("user_data", function(data){
                users = data.users; 
                // console.log(users);
                // when the page connects I want it to loop through 
                // the users array to display the users joined with different background

                if (users.length == null){
                    $("#online_status").html("No users online");

                } else if (users.length == 0) {

                    $("#online_users").html(`<p id="online_status"></p> <p id="users"></p>`);
                    $("#online_status").html(`${users.length + 1} user is online`);
                    // $("#online_status").html("No users online");//
                    for (var i = 0; i < users.length; i++) {
                        $("#online_users").append(`<p class="user1" id="${users[i].id}"> ${users[i].name} is online</p>`);
                    }
                } else {
                    $("#online_users").html(`<p id="online_status"></p> <p id="users"></p>`);
                    $("#online_status").html(`${users.length + 1} users are online`);
                    for (var i = 0; i < users.length; i++) {
                        $("#online_users").append(`<p class="user1" id="${users[i].id}"> ${users[i].name} is online</p>`);
                    }
                    
                }
                
            });
            
            
            socket.on("new_user", function(data){
                // app listens for new user 
                var user = data.user;
                var users = data.users;
                // What i'm trying to do here is add the new user to the page 
                // without having to loop through the entire array again.
                // because before, every time a new user was added, it would 
                // print out the whole users array again.
                $("#online_users").append(`<p class="user1" id="${user.id}"> ${user.name} is online</p>`);
               
                $("#leaving").on("click", function () {
                    for(var i=0; i < users.length; i++){
                        if (users[i].id == user.id){
                            console.log("found");

                            $(`#${user.id}`).remove();

                            socket.emit("disconnect", {
                                user: user
                            })
                        }
                    }
                    // disconnects user simply by redirecting


                });
                
            });
            
            $('#sub').on("click", function () {
                var message;
                message = $('#text').val();
                socket.emit("new_message", {
                    msg: message 
                });
                // console.log(user)//////////
                // user.msgs.push(message);//
                // console.log(message)
            });
            socket.on("new_mes", function(data){
                var message = data.msgs;
                $("#message").append(`<p>${message.user.name}: ${message.msg[0]}</p>`)
            });
            //     ////////// this is for posting messages 
           

            
            // socket.on("disconnect_user", function(data){
            //     var users = data.users;
            //     // removes user from group chat
            //     $("#" + user.id).remove();

            // });
        });
    </script>
</head>

<body>
    <div id="online_users">
        <p id="online_status"></p>
        <p id="users"></p>
    </div>

    <div id="message">
        
    </div>
    
    <div id="input">
        <textarea name="message" id="text" cols="50" rows="5"></textarea>
        <button id="sub">Submit</button>
    </div>
    
    <br>
    <button id="leaving"><a href="/">Leave Group Chat</a></button>
</body>

</html>

<!-- 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Group Chat</title>
    <script src=" http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="stylesheet/style.css">
    <script>
        $(document).ready(function () {
            var socket = io();
            // console.log(session);
            var new_user = prompt("What is your name?");

            socket.emit("new_user_added", {
                new_user: new_user
            });

            socket.on("new_user", function (data) {
                var users = data.users;
                var user = data.user;
                // session.user_id = user.id;
                console.log(user);

                for (i in users) {
                    if (i % 2 == 0) {
                        $("#message").append("<p style='background-color:rgb(218, 218, 218)' class='user1'>" + users[i].name + " has joined..</p>");
                        // $('.user1').css("background-color", "whitesmoke");
                    } else {
                        $("#message").append("<p class='user1'>" + users[users.length - 1].name + " has joined..</p>");

                    }
                }


            });

            $('#sub').on("click", function () {
                var message = $('#text').val();
                user.msgs.push(message);
                $("#text").val(''); //sets empty value of text area after submission
                console.log(user.name);
                console.log(user.msgs);
            });

            $("#leave").on("click", function () {
                socket.emit("disconnect_user", {
                    user: user
                });

            });
        });
    </script>
</head>

<body>

    <div id="message">

    </div>

    <div id="input">
        <textarea name="message" id="text" cols="50" rows="5"></textarea>
        <button id="sub">Submit</button>
    </div>


</body>

</html> -->