<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello, Friend</title>
</head>
<body>
    <header>
        <h1>Group Chat</h1>
    </header>
    <a href="/main"><button>Go to Chats</button></a>
    
</body>
</html>